* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #141414;
    --white: #FFFFFF;
    --light-gray: #cccccc
}

.container {
    max-width: 1170px;
    height: 20px;
}